* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: white;
  color: black;
}

header {
  width: 100%;
  font-weight: 300;
  margin: 0 0;
  padding: 5px;
  background-color: black;
  color: white;
}

.start {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.new-quiz {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.new-quiz button {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.question {
  font-size: 20px;
  width: 50%;
  margin: 20px auto;
  padding: 30px;
  border: 2px solid black;
  text-align: center;
}

.options {
  width: 30%;
  margin: 40px auto;
  padding: 10px;
  border: 2px solid black;
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}

.q-num {
  font-size: 15px;
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.score {
  text-align: center;
}

.finish {
  text-align: center;
}

.finish button {
  text-align: center;
  padding: 20px;
  background-color: black;
  color: white;
  font-size: 20px;
}
