:root {
  /* MAIN COLORS */
  --dark: #112d2d;
  --primary: #287272;
  --secondary: #9cd8d8;
  --white: #fff9f9;

  /* CORRECT / INCORRECT COLORS */
  --incorrect: #ff3d00;
  --correct: var(--secondary);
}

/* GLOBAL STYLES */

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: var(--white);
  color: black;
}

header {
  width: 100%;
  font-weight: 100;
  margin: 0 0;
  padding: 5px;
  background-color: var(--dark);
  color: white;
}

header h1 {
  font-weight: 100;
}

header .new-link {
  color: var(--dark);
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  padding: 10px;
  background-color: var(--secondary);
}

/* STARTING PAGE */

.start {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.new-quiz {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.new-quiz button {
  background-color: var(--dark);
  color: var(--white);
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* QUESTION PAGE */
.question {
  font-size: 20px;
  width: 40%;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

form {
display: flex;
flex-direction: column;
}

form > input {
  padding: 20px;
}

form button {
  width: 100px;
}

form span {
  padding: 10px;
}

.question-count {
  font-size: 15px;
}

.question-count span {
  color: green;
}

.options {
  width: 30%;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}

.q-num {
  font-size: 15px;
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.score {
  text-align: center;
}

.next-btn {
  background-color: var(--dark);
  text-align: center;
  color: var(--white);
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.submit-button {
  background-color: var(--dark);
  text-align: center;
  color: var(--white);
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}

/* COMPLETION */
.complete-quiz {
  background-color: green;
  color: white; 

}
.finish {
  text-align: center;
}

.finish button {
  text-align: center;
  padding: 20px;
  background-color: black;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
